<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>There is a new prompt that requires review.</h3>

    <p>
      <a href="localhost:3000/prompts/<%= @prompt_id %>">REVIEW IT HERE (LOCAL)</a>
      <a href="king-of-the-page.herokuapp.com/prompts/<%= @prompt_id %>">REVIEW IT HERE (HEROKU)</a>
    </p>
  </body>
</html>
