

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <center><h1 style="font-size:20em"><i class="fa fa-fort-awesome" aria-hidden="true"></i> </h1></center>
      <center><h1><i class="fa fa-child" aria-hidden="true"></i></h1>
      <center><h2>You took the decisive action that overthrew the king! Rather than create a democracy, you decide in your infinite wisdom that YOU SHALL BE KING!</h2></center>
      <%= link_to "Create Your Decree", new_prompt_path, type: "button", class: "btn btn-primary btn-lg", style: "width:60%"%>
      <div>
    </div>
  </div>
</div>
