/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

@font-face { font-family: "ErlerDingbats"; src: font-url('ErlerDingbats.ttf'); };
@font-face { font-family: "sosa-regular-webfront"; src: font-url('sosa-regular-webfont.ttf'); };

.icons_1 {
  font-family: 'ErlerDingbats';
}

.icons_2 {
  font-family: 'sosa-regular-webfont';
}


@media screen and (min-width: 47.5em ) {

  .columns-container {
      float: left;
      margin: 0 auto;
  }

  .left-column {
    margin-right: 20em;
    float: left;
  }

  .right-column {
    width: 18.75em;
    margin-left: -19.3em;
    float: left;
  }
}


body {
  background-image: image-url("canjiquinha_bump.jpeg");
  background-repeat: repeat-y;
  background-size: 100%;
}
