<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Hi, <%= @user.full_name %>...</h2>
    <h1>Or should I say KING <%= @user.last_name.upcase %>?</h1>

    <p>
      <%= link_to "Make your new decree here!", "king-of-the-page.herokuapp.com/prompts/new" %>
    </p>

  </body>
</html>
